{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Sobre{% endblock %}

{% block page_content %}
<div class="page-header">    
    <h3>Paradigmas de Programación</h3>
</div>	
<div class="row">
	<ul class="list-group col-xs-5">
  <li class="list-group-item">Desarrollado por: Juan Ignacio Paviot</li>
  <li class="list-group-item">1° B</li>
  <li class="list-group-item">Año 2020</li>
  <li class="list-group-item">Tecnologías usadas: Python, Flask, HTML, CSS, Bootstrap</li>
</ul>
</div>
{% endblock %}